/* TipAreaList.css */

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

.tip-area-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tip-area-container {
  border-radius: 8px;
  background-color: var(--clr-background); /* Uso de la variable de color principal */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajuste de la sombra */
  margin-top: 2rem;
}

.area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.area-title {
  margin: 0;
  font-size: 1.5rem;
  color: var(--clr-text); /* Uso de la variable de color principal */
  font-family: "Kanit", sans-serif;
}

.delete-area-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-secondary); /* Uso de la variable de color secundario */
  transition: color 0.5s ease;
}

.delete-area-button:hover {
  color: var(--clr-secondary-hover); /* Uso de la variable de color secundario en hover */
}

.grid-container {
  display: grid;
  gap: 20px;
}

.section-title {
  margin: 0;
  font-size: 1.2rem;
  color: var(--clr-text); /* Uso de la variable de color principal */
  font-family: "Kanit", sans-serif;
}

.employee-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 1rem;
}

.employee-card {
  border-radius: 8px;
  background-color: rgba(213, 215, 218, 0.427); /* Ajuste de color de fondo */
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377); /* Ajuste de la sombra */
}

.employee-info p {
  margin: 5px 0;
  color: var(--clr-text); /* Uso de la variable de color principal */
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
}

.employee-actions {
  display: flex;
  flex-direction: column;
}

.employee-actions button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--clr-button); /* Uso de la variable de color de botón */
  color: var(--clr-text); /* Uso de la variable de color principal */
  font-size: 14px;
  font-family: "Kanit", sans-serif;
}

.employee-actions button:hover {
  background-color: var(--clr-button-hover); /* Uso de la variable de color de botón en hover */
}

.employee-actions input {
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(40, 75, 190, 0.144); /* Ajuste del color del borde */
}
