/* app.css */

/* General Styles */
.app-container {
  background-color: var(--clr-background);
  min-height: auto;
  font-family: "Kanit", sans-serif;
  color: var(--clr-text);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  min-height: auto;
  font-family: "Kanit", sans-serif;
  color: var(--clr-text);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

div {
  position: relative;
}

:root {
  --clr-primary: #000000; /* Azul primario */
  --clr-secondary: #7e98e0; /* Rojo secundario */
  --clr-background: #b8d3ddd5; /* Gris claro */
  --clr-text: #272727; /* Texto principal */
  --clr-accent: #ffc107; /* Amarillo */
  --clr-button: #82ade46b; /* Gris oscuro */
  --clr-button-hover: #6887ee86; /* Gris más oscuro (hover) */
  --clr-form: #8a4040; /* Blanco */
  --clr-list-item: #ffffff; /* Blanco */
  --clr-list-item-shadow: rgba(0, 0, 0, 0.1); /* Sombra de los elementos de la lista */
  --clr-toggle-off: #6c757d; /* Gris */
  --clr-toggle-on: #101110; /* Verde */
  --clr-toggle-thumb: #ffffff; /* Blanco (color del botón del toggle) */
  --clr-input-border: #ced4da; /* Gris claro */
  --clr-input-label: #495057; /* Gris más oscuro */
  --clr-input-label-focus: #495057; /* Gris más oscuro */
  --clr-input-underline: #007bff; /* Azul primario (color de la línea bajo el input) */
}

/* Header Styles */
header {
  text-align: center;
  padding-bottom: 20px;
}

/* Content Styles */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

/* Action Styles */
.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Button Styles */
.add-button,
.custom-button {
  background-color: var(--clr-button);
  border: 1px solid transparent; /* Corregido */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: var(--clr-text);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.add-button:hover,
.custom-button:hover {
  background-color: var(--clr-button-hover);
}

/* Error Message Styles */
.error-message {
  background-color: var(--clr-secondary);
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* Form Styles */
.form-container {
  background-color: var(--clr-form);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* List Styles */
.list-container {
  margin-top: 20px;
}

.list-item {
  background-color: var(--clr-list-item);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--clr-list-item-shadow);
  margin-bottom: 10px;
}

.list-item h3 {
  margin-top: 0;
}

.list-item p {
  margin-bottom: 5px;
}

.list-item button {
  margin-left: 10px;
}

/* Toggle Switch Styles */
.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr-toggle-off);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.checkbox {
  position: absolute;
  display: none;
}

.slider:has(.checkbox:checked) {
  background-color: var(--clr-toggle-on);
}

.icon {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--clr-toggle-off);
  box-shadow: inset 12px -4px 0px 0px #d8dbe0;
  transition: 0.4s ease;
}

.checkbox:checked + .icon {
  transform: translateX(50px);
  background-color: var(--clr-toggle-thumb);
  box-shadow: none;
}

/* Title Styles */
.app-title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 60px;
  cursor: pointer;
}

.app-title .text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  transition: 0.1s ease;
  transition-delay: 0.25s;
}

.app-title .hover-text {
  position: absolute;
  inset: 0;
  width: 0%;
  color: var(--clr-primary);
  overflow: hidden;
  border-right: 6px solid var(--clr-primary);
  transition: 0.5s ease-in-out;
}

.app-title:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 40px var(--clr-primary));
}

.app-title:hover .text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}

/* Input Styles */
.input-wrapper {
  position: relative;
  font-size: 16px;
}

.input-wrapper input {
  all: unset;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--clr-input-border);
}

.input-wrapper label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: var(--clr-input-label);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-wrapper input:is(:focus, :valid) ~ label {
  bottom: 100%;
  color: var(--clr-input-label-focus);
}

.input-wrapper > .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-input-underline);
  scale: 0 1;
  transition: 0.3s;
}

.input-wrapper input:focus ~ .underline {
  scale: 1 1;
}

.total-propinas {
  margin-top: 2rem;
}

.box {
  background-color: #ffffff54;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.219);
  margin-bottom: 1rem;
  width: 100%;
}

.box-content {
  width: 100%;
}
